body {
  background: #F0F0F0;
}
a {
  color: unset;
}
.fz24 {
  font-size: .24rem;
}
.fz30 {
  font-size: .3rem;
}
.fz28 {
  font-size: .28rem;
}
.fz26 {
  font-size: .26rem;
}
.p-l-30 {
  padding-left: .3rem;
}
.p-t-30 {
  padding-top: .3rem;
}

.bg-f {
  background: #fff;
}
.fixed {
  position: fixed;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}

.color-money {
  color: #ee0a24;
  font-size: 14px;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-center {
  text-align: center;
}
.color-f {
  color: #fff;
}

.flex-box {
  display: flex;
}
.flex-1 {
  flex: 1;
}
